<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/050a3077-9535-49bf-b51e-099b5b3a651b/resourceGroups/cloudsolution/providers/Microsoft.Web/sites/cloudsolution-subscr-api</ResourceId>
    <ResourceGroup>cloudsolution</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cloudsolution-subscr-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dd1fbcc2-8c59-496d-ae04-a89e0c52a375</ProjectGuid>
    <PublishUrl>https://cloudsolution-subscr-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cloudsolution-subscr-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>